<h2>Lista de Personajes de Marvel</h2>

<!-- Verifica si hay personajes disponibles -->
<div *ngIf="characters.length > 0; else loading" class="character-container">
  <!-- Itera sobre cada personaje en la lista de personajes -->
  <div *ngFor="let character of characters" class="character-card">
    <!-- Muestra la imagen del personaje -->
    <img [src]="character.thumbnail?.path + '.' + character.thumbnail?.extension" alt="{{ character.name }}">
    <!-- Muestra el nombre del personaje (clic para abrir modal) -->
    <h3 (click)="openModal(character)">{{ character.name }}</h3>
    <!-- Muestra la descripción o mensaje por defecto -->
    <p>{{ character.description || 'Sin descripción' }}</p>
  </div>
</div>
<!-- Controles de paginación -->
<div class="pagination">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
  <span>Página {{ currentPage }} de {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
</div>
<!-- Mensaje de carga mientras se obtienen los personajes -->
<ng-template #loading>
  <p>Cargando personajes...</p>
</ng-template>

<!-- Modal -->
<ng-template #characterDetailModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ selectedCharacter?.name }}</h4>
    <button type="button" class="btn-close" aria-label="Cerrar" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <img [src]="selectedCharacter?.thumbnail?.path + '.' + selectedCharacter?.thumbnail?.extension" 
         alt="{{ selectedCharacter?.name }}" class="img-fluid">
    <p>{{ selectedCharacter?.description || 'Sin descripción disponible' }}</p>
   <!--Cargar del componente de carrusel-->
   <div class="carousel-container" *ngIf="characterSeries.length > 0">
    <carousel class="carousel">
      <slide *ngFor="let series of characterSeries">
        <img [src]="series.thumbnail?.path + '.' + series.thumbnail?.extension" class="d-block w-100" alt="{{ series.title }}">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ series.title }}</h5>
        </div>
      </slide>
    </carousel>
  </div>
  
  <p *ngIf="characterSeries.length === 0" class="text-center mt-3">No hay series disponibles.</p>
  </div>
</ng-template>
